<main class="card center">
    <div class="form_container">
        <div class="header">
            <h1 class="logo">TecFlix</h1>
            <h2 class="title">Cadastro</h2>
            <p>Já possui conta? <a routerLink="/sing-in" class="url">Entrar</a></p>
        </div>
        <form [formGroup]="singUpForm" (submit)="singUp()" class="form">
        
            <p-floatlabel class="input_container">
                <input pInputText formControlName="name" autocomplete="off" class="input" psize="large" minlength="3" maxlength="30" />
                <label for="over_label">Nome</label>
            </p-floatlabel>
            
            <p-floatlabel class="input_container">
                <input pInputText formControlName="email" autocomplete="off" class="input" psize="large" maxlength="50"/>
                <label for="over_label">Email</label>
            </p-floatlabel>
        
            <p-floatlabel class="input_container">
                <p-password formControlName="password" autocomplete="off" [toggleMask]="true" size="large" minlength="8" maxLength="50">
                    <ng-template #header>
                        <div class="font-semibold text-xm mb-4">Escolha uma senha</div>
                    </ng-template>
                    <ng-template #footer>
                        <p-divider />
                        <ul class="pl-2 ml-2 my-0 leading-normal">
                            <li>Ao menos uma letra minúscula</li>
                            <li>Ao menos uma letra maiúscula</li>
                            <li>Ao menos um número</li>
                            <li>Mínimo de 8 caracteres</li>
                        </ul>
                    </ng-template>
                </p-password>
                <label for="over_label">Senha</label>
            </p-floatlabel>
            @if (!loading()) {
                <button 
                type="submit" 
                class="button" 
                [disabled]="singUpForm.invalid || singUpForm.disabled">
                    Criar conta
                </button>
            } @else {
                <div class="spinner_container">
                    <p-progress-spinner class="spinner" ariaLabel="loading" strokeWidth="8" [style]="{ width: '25px', height: '25px' }"/>
                </div>
            }    
        </form>
    </div>
    
    <section class="description">
        <div>
            <h1>Bem-vindo a <span class="logo">TecFlix</span></h1>
            <p>Bem-vindo(a) ao nosso app de cursos de tecnologia! Com o nosso aplicativo, você terá acesso a grande variedades de cursos e materiais voltado para area de tecnologia. Faça login agora para começar a explorar!</p>
        </div>
    </section>
</main>