@use '../../../../dist/scss/variables.scss' as variables;
@use '../../../../dist/scss/classes.scss';

.card {
    background-color: variables.$bg-color-seccondary;
    margin: auto;
    width: 50rem;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

    & > * {
        border-radius: 0 10px 10px 0;
        padding: 30px;
    }
}

.header {
    padding-bottom: 2rem;

    & .logo {
        text-align: center;
        padding-bottom: 30px;
        font-size: 2.5em;
        color: variables.$primary-color;
    }
    
    & .title {
        font-size: 1.5em;
    }
}

.logo {
    font-family: variables.$font-family-logo;
}

.input_container {
    margin-bottom: 2.6rem;
    display: block;
    .input {
        width: variables.$input-width;
        height: variables.$input-height;

    }
}

.spinner_container {
    text-align: center;
}

.footer {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;

    & .checkbox {
        margin-right: 5px;
    }
}

.url {
    text-decoration: underline;
    color: variables.$primary-color;
}

.description {
    display: flex;
    align-items: center;
    background-color: variables.$primary-color;
    
    & h1 {
        font-size: 2.5em;
        padding-bottom: 1.875rem;
    }
}

@media (max-width: 768px) {
    .card {
        width: max-content;
    }
    .description {
        display: none;
    }
}

@media (max-width: 480px) {
    .card {
        background-color: variables.$bg-color;
    }
}