@use 'variables' as variables;
@use 'classes';

.container {
    background-color: variables.$bg-color-seccondary;
    border-radius: 10px;
    padding: 2rem;
    max-width: 40rem;
}


.logo {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2.5em;
    font-family: variables.$font-family-logo;
    color: variables.$primary-color;

    cursor: default;
}

.content {
    padding-bottom: 2rem;
    text-align: center;
}

.coisa {
    display: flex;
    justify-content: center;

    padding-top: 1rem;
}

.button {
    width: 8rem;
}
