<main class="container center">
    <h1 class="logo" routerLink="">TecFlix</h1>
    <p class="content">Enviaremos um e-mail para redefinir sua senha</p>
    <div class="card flex justify-center gap-4 text-white">
        <form [formGroup]="form" (submit)="submit()" class="form">
            <p-floatlabel>
                <input pInputText id="email" formControlName="email" autocomplete="off" />
                <label for="email">Email</label>
            </p-floatlabel>
            
            @if (isLoading()) {
                <div class="coisa">
                    <p-progress-spinner class="spinner" ariaLabel="loading" strokeWidth="8" [style]="{ width: '25px', height: '25px' }"/>
                </div>
            } @else {
                <div class="coisa">
                    <button 
                        class="button" 
                        type="submit"
                        [disabled]="form.invalid || form.disabled">
                            Enviar E-mail
                    </button>
                </div>
            }
        </form>
    </div>
</main>