@if (modules) {
    <main class="container_modules">
        <h1 class="title">Conteúdo:</h1>
        @for (module of modules; track $index) {
            <p-panel [toggleable]="true" [collapsed]="true">
                <ng-template #header>
                    <div class="flex items-center gap-2">
                        <i class="pi pi-folder"></i>
                        <span class="font-bold">{{module.title}}</span>
                    </div>
                </ng-template>
                <app-module-classes [classes]="module.classes"></app-module-classes>
            </p-panel>
        }
    </main>
} @else {
    <main class="container_modules">
        <p-skeleton height="2.5rem" width="18rem" styleClass="mb-2" />
        <p-skeleton width="37.5rem" height="30rem" />
    </main>
}