@if (modules) {
    <main class="container_modules">
        <h1 class="title">Conteúdo:</h1>
        <p-accordion [value]="0" [multiple]="true">
            @for (module of modules; track $index) {
                <p-accordion-panel [value]="module.id">
                    <p-accordion-header class="accordion_header">
                        <div>
                            <i class="pi pi-folder icon"></i>
                            <span>{{ module.title }}</span>
                        </div>
                    </p-accordion-header>
                    <p-accordion-content>
                        <app-module-classes [classes]="module.classes"></app-module-classes>
                    </p-accordion-content>
                </p-accordion-panel>
            }
        </p-accordion>
    </main>
} @else {
    <main class="container_modules">
        <p-skeleton height="2.5rem" width="18rem" styleClass="mb-2" />
        <p-skeleton width="37.5rem" height="30rem" />
    </main>
}