SERVER_PORT=8081
WEBSTIE_URL=http://localhost:4200

API_KEY=key

TOKEN_SECRET=secret
TOKEN_DURATION=43200000
REFRESH_TOKEN_DURATION=604800000

CODE_VALIDATION_TIME=600000000000
MAILTRAP_USER=user
MAILTRAP_PASSWORD=password

DB_URL=jdbc:postgresql://ip:port/database
DB_USER=db_user
DB_PASSWORD=db_password