<form [formGroup]="form" (submit)="submit()" class="form">
    <p-floatlabel variant="in" class="input_container">
        <p-password formControlName="password" autocomplete="off" [toggleMask]="true" minlength="8" maxLength="50">
            <ng-template #header>
                <div class="font-semibold text-xm mb-4">Escolha uma nova senha</div>
            </ng-template>
            <ng-template #footer>
                <p-divider />
                <ul class="pl-2 ml-2 my-0 leading-normal">
                    <li>Ao menos uma letra minúscula</li>
                    <li>Ao menos uma letra maiúscula</li>
                    <li>Ao menos um número</li>
                    <li>Mínimo de 8 caracteres</li>
                </ul>
            </ng-template>
        </p-password>
        <label for="in_label">Nova Senha</label>
    </p-floatlabel>
    <p-floatlabel variant="in" class="input_container">
        <p-password formControlName="confirmation" autocomplete="off" [toggleMask]="true" minlength="8" maxLength="50">
            <ng-template #header>
                <div class="font-semibold text-xm mb-4">Repita sua nova senha</div>
            </ng-template>
            <ng-template #footer>
                <p-divider />
                <ul class="pl-2 ml-2 my-0 leading-normal">
                    <li>Ao menos uma letra minúscula</li>
                    <li>Ao menos uma letra maiúscula</li>
                    <li>Ao menos um número</li>
                    <li>Mínimo de 8 caracteres</li>
                </ul>
            </ng-template>
        </p-password>
        <label for="in_label">Repita a senha</label>
    </p-floatlabel>

    @if (!isLoading()) {
        <div class="container_button">
            <p-button size="large" class="coisa" type="submit" label="Salvar" [disabled]="form.invalid || form.disabled"/>
        </div>
    } @else {
        <div class="container_button">
            <p-progress-spinner ariaLabel="loading" strokeWidth="8" [style]="{ width: '25px', height: '25px', margin: '0 15px 0 0'}"/>
        </div>
    }
</form>