@use 'classes';
@use 'variables' as var;

.card {
    padding: 5rem 0;
    background-color: #101010;
    color: #fff;
}

.container_profile {
    width: 30rem;
    margin: auto;
}

.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 30rem;
    padding-bottom: 3rem;
}

.container_info {
    .name {
        font-size: 2em;
    }

    .occupation {
        border: solid 1px var.$seccondary-color;
        color: var.$seccondary-color;

        font-family: var.$font-family-logo;
        font-size: 0.9em;
        
        width: min-content;
        padding: 0.2rem 0.5rem;
    }
}

.timeline {
    padding-top: 1rem;
}

.container_profile_image {
    .image {
        width: 12rem;
        height: 12rem;
        border-radius: 100%;
    }
}

.container_biography {
    font-size: 1.05em;
    text-align: justify;
}

.container_social {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;

    .social {
        margin: 5px 5px 0 0;
    }
}

.container_courses {
    padding: 3rem 0;
    .title {
        color: #fff;
        padding-left: 3rem;
        font-size: 1.5em;
        font-weight: 600;
    }
}

@media (max-width: 480px) {
    .container_profile {
        width: 90vw;
    }

    .container_header {
        flex-direction: column-reverse;
    
        width: 100vw;
    }
}