<main class="container center">
    <h1 class="logo" routerLink="">TecFlix</h1>
    <p class="content"> {{ message() }} </p>
    <div class="card flex justify-center gap-4 text-white">
        @if (loading()) {
            <div class="spinner_container">
                <p-progress-spinner class="spinner" ariaLabel="loading" strokeWidth="8" [style]="{ width: '30px', height: '30px' }"/>
            </div>
        } @else {
            @if (codeIsValid()) {
                <button routerLink="/sing-in" [disabled]="loading()" class="button">Entrar</button>
            } @else {
                <button (click)="resendCode()" [disabled]="loading() || timerIsActive()" class="button">
                    {{ buttonMessage() }}
                </button>
            }
        }
    </div>
</main>