<main class="container_account">
    <div class="card">
        <p-tabs [value]="0">
            <p-tablist>
                <p-tab [value]="0">
                    <i class="pi pi-user"></i>
                    Dados
                </p-tab>
                <p-tab [value]="1">
                    <i class="pi pi-key"></i>
                    Segurança
                </p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel [value]="0">
                    <h1 class="tab_panel_title">Seu dados</h1>
                    <div class="container_form">
                        <app-change-user-data></app-change-user-data>
                    </div>
                
                </p-tabpanel>
                <p-tabpanel [value]="1">
                    <h1 class="tab_panel_title">Alteração de Senha</h1>
                    <div class="container_form">
                        <app-change-password></app-change-password>
                    </div>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
</main>