@use '../../../../dist/scss/variables.scss' as variables;

$input-width: 16.875rem;
$input-height: 3.063rem;

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #252525;
    margin: auto;
    width: 50rem;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;


    & > * {
        border-radius: 0 10px 10px 0;
        padding: 30px;
    }
}

.header {
    padding-bottom: 2rem;

    & .logo {
        text-align: center;
        padding-bottom: 30px;
        font-size: 2.5em;
        color: variables.$primary-color;
    }
    
    & .title {
        font-size: 1.5em;
    }
}

.logo {
    font-family: variables.$font-family-logo;
}

.input_container {
    margin-bottom: 2.6rem;
    display: block;
    .input {
        width: $input-width;
        height: $input-height;

    }
}

.button {
    width: $input-width;
    height: $input-height;
    background-color: variables.$primary-color;
    border-radius: 10px;
    box-shadow: var(--p-inputtext-shadow);


    &:disabled {
        background-color: var(--p-emerald-600);
    }
}

.footer {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;

    & .checkbox {
        margin-right: 5px;
        
    }
}

.url {
    text-decoration: underline;
    color: variables.$primary-color;
}

.description {
    display: flex;
    align-items: center;
    background-color: variables.$primary-color;
    
    & h1 {
        font-size: 2.5em;
        padding-bottom: 1.875rem;
    }
}

@media (max-width: 768px) {
    .card {
        width: max-content;
    }
    .description {
        display: none;
    }
}

@media (max-width: 480px) {
    .card {
        background-color: variables.$bg-color;
    }
}