@use 'classes';
@use 'variables' as var;

.title {
  font-size: 2.2em;
  font-weight: 600;

  text-align: center;
}

.container_header {
  background-size: auto;
  background-repeat: repeat;
  padding: 15vh 0 0 0;

  .container_card {
    padding-bottom: 8vh;

    .card {
      background-color: #303030;
      width: 25rem;
      margin-left: 2rem;
      padding: 1rem;
      border-radius: 5px;

    }

    & .container_button {
      padding-top: 1rem;
      display: flex;
      justify-content: center;
    }
  }

}


.container_start {
  padding: 10vh 2rem;
  margin: auto;

  .container_panel {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 5rem 0;

    & .content {
      width: 40%;

      font-size: 1.1em;
      text-align: justify;
    }


    & .image {
      width: 20rem;
    }
  }
}


.container_footer {
  padding: 10vh 0;
  text-align: center;

  &>.container_button {
    padding-top: 1rem;
  }
}


@media(max-width: 768px) {
  .container_header {
    padding-top: 10vh;

    & .container_card {
      display: flex;
      justify-content: center;

      & .card {
        margin: 0;
      }
    }
  }

  .container_start {
    .container_panel {
      flex-direction: column-reverse;

      & .content {
        width: 93%;
      }

      & .image {
        width: 15rem;
        padding-bottom: 3rem;
      }
    }

  }
}
