@use 'variables' as var;
@use 'classes';

.container {
    background-color: var.$bg-color-seccondary;
    border-radius: 10px;
    padding: 2rem;
    max-width: 40rem;
}

.logo {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2.5em;
    font-family: var.$font-family-logo;
    color: var.$primary-color;
}

.content {
    padding-bottom: 2rem;
    text-align: center;
}

.container_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}