<footer class="container_footer">
    <h1 class="logo">tecflix</h1>
    
    <section class="mid_container">
        <article class="slogan">
            <p>Eleve seus conhecimentos de tecnologia a outro nível</p>
        </article>

        <article> 
            <div class="text_container">
                <p>Faça pate do time da TECFLIX</p>
            </div>

            <!-- TODO: add professor register page -->
            <div class="button_container">
                <button class="button">ensine na tecflix</button>
            </div>
        </article>
        
        <article class="social_container">
            <h2 class="social_title">redes sociais</h2>
            <span class="social_icons">
                <i class="pi pi-facebook"></i>
                <i class="pi pi-instagram"></i>
                <i class="pi pi-twitter"></i>
                <i class="pi pi-reddit"></i>
            </span>
        </article>
        
        <article class="contact_container">
            <div class="text_container">
                <p>Ajude o projeto</p>
            </div>
            <!-- TODO: add donation page -->
            <div class="button_container">
                <button class="button">fazer doação</button>
            </div>
        </article>
    </section>
    
    <hr>
    
    <section class="lower_container">
        <div class="footer_links_container">
            <span class="footer_link">políticas de privacidade</span>
            <span class="footer_link">termos e condições</span>
        </div>
        <span class="copyright">Todos os direitos reservados &copy; {{year}} Tecflix</span>
    </section>
</footer>